
MyMoviesAPI/MyMovies/bin/Debug/*
MyMoviesAPI/MyMovies/Migrations/*
MyMoviesAPI/MyMovies/obj/*
*.cache
MyMoviesAPI/MyMovies/obj/project.nuget.cache
MyMoviesAPI/MyMovies/obj/project.nuget.cache
MyMoviesAPI/MyMovies/obj/project.assets.json
MyMoviesAPI/MyMovies/obj/MyMovies.csproj.nuget.dgspec.json
MyMoviesAPI/MyMovies/obj/Debug/netcoreapp3.1/MyMovies.pdb
MyMoviesAPI/MyMovies/obj/Debug/netcoreapp3.1/MyMovies.genruntimeconfig.cache
MyMoviesAPI/MyMovies/obj/Debug/netcoreapp3.1/MyMovies.GeneratedMSBuildEditorConfig.editorconfig
MyMoviesAPI/MyMovies/obj/Debug/netcoreapp3.1/MyMovies.dll
MyMoviesAPI/MyMovies/obj/Debug/netcoreapp3.1/MyMovies.csproj.FileListAbsolute.txt
MyMoviesAPI/MyMovies/obj/Debug/netcoreapp3.1/MyMovies.csproj.CoreCompileInputs.cache
MyMoviesAPI/MyMovies/obj/Debug/netcoreapp3.1/MyMovies.assets.cache
