
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/appsettings.Development.json
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/appsettings.json
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.InMemory.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/MyMovies.deps.json
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/MyMovies.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/MyMovies.exe
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/MyMovies.pdb
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/MyMovies.runtimeconfig.dev.json
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/MyMovies.runtimeconfig.json
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
MyMoviesAPI/MyMovies/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
